<launch>
	<arg name="marker_size" default="10" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />

	<arg name="cam_image_topic" default="/kinect2/hd/image_color_rect" />
	<arg name="cam_info_topic" default="/kinect2/hd/camera_info" />

	<arg name="output_frame" default="/base_footprint" />


	<arg name="bundle_files" default="$(find exp_director_task)/tags/MarkerData_100.xml
					  $(find exp_director_task)/tags/MarkerData_101.xml
					  $(find exp_director_task)/tags/MarkerData_102.xml
				          $(find exp_director_task)/tags/MarkerData_230.xml
					  $(find exp_director_task)/tags/MarkerData_206.xml
					  $(find exp_director_task)/tags/MarkerData_54.xml"/>


	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />



</launch>
